body{
  /* background-color: #f3fcee; */
  background-color: #f7f1ff;
}

button{
  font-family: 'Quicksand', sans-serif;

}

.score{
  font-family: 'Quicksand', sans-serif;
  color: #fd7623;
}

span{
  font-family: 'Quicksand', sans-serif;
  color: #fd7623;
}


.grid {
  width: 500px; 
  height: 500px;
  display: flex;/*AK*/
  flex-wrap: wrap;/*AK*/
  box-shadow:5px 5px 10px grey;
  border-radius: 20px;
  background-color: #ffffff;
}

.grid div {
  width: 50px;
  height: 50px;
}

.snake {
  background-color: #3deb1e; /*AK*/
  box-shadow: 1px 1px 2px grey;
  border-radius: 20px;
}

.apple {
  background-color: #391463; /*AK*/
  border-radius: 20px;
  box-shadow: 1px 1px 2px grey;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.air{
  padding: 70px;
}

.button-container{
  display: flex;
  justify-content: center;

}

.score-container{
  display: flex;
  justify-content: center;

}